@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght,GRAD@0,17..18,400..700,83;1,17..18,400..700,83&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght,GRAD@0,17..18,400..700,83;1,17..18,400..700,83&family=Rubik+Lines&display=swap');

@import "tailwindcss";
